body {
    font-family: sans-serif;
}

/* color Variables */

:root {
    --white: #fff --black:#000;
}

.main {
    min-height: 80vh;

}


/* FontSize Clsses */

.Fs1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.Fs2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.Fs3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;

}

.Fs4 {
    font-weight: bolder;
}

.w-4 {
    width: 140px;
}

.w-3 {
    font-size: 20px;
}

/* Border Classes */

.B1 {
    border: 3px solid #f2f2f2;
    border-radius: 10px;
}

.B1_r {
    border-right: 2px solid #f2f2f2;
}

@media only screen and (max-width:992px) {
    .B1_r {
        border: 2px solid #f2f2f2;
    }
}

/* Table css */

.table>thead {
    vertical-align: middle;
}

.custom-thead {
    background-color: #F3EAD8;
    border: none !important;
}

.custom-thead th span {
    display: block;
    font-weight: 400;
}

table.table thead th:last-child {
    border-right: 0px;
}

.custom-thead th:last-child {
    border-right: 0px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dadada;
}

table.table {
    border-radius: 10px;
}

table.table th,
table.table td {
    border: 1.5px solid #dadada;
    border-left: 0px;
    padding: 12px 10px;
}

table.table tbody tr:nth-child(even) {
    background-color: #F7F7F7;
}

table.table tbody tr td:last-child,
table.table tbody tr th:last-child {
    border-right: 0px;
}

table.table tbody tr:last-child td,
table.table tbody tr:last-child th {
    border-bottom: 0px;
}

.table.table thead:first-child tr:first-child th {
    border-top: 0px;
}

.custom-b1 {
    border-right: 0px;
}